
<% if current_user.role?(:admin) || current_user.role?(:manager)%>
<%= render :partial => "partials/title_with_search", locals: {title: "Employees at AMC"} %>
<%end%>

<div id='tabbed'>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
      	<li class="tab col s3"><a href="#test3">Active Employees</a></li>
        <li class="tab col s3"><a href="#test1">Active Managers</a></li>
        <li class="tab col s3"><a href="#test2">Inactive Employees</a></li>
        
      </ul>
    </div>
    <div id="test3" class="col s12"><%= render :partial => "active_just_employees", locals: {employees: @active_employees, state: 'active'} %> </div>
    <div id="test1" class="col s12"><%= render :partial => "employee_lists", locals: {employees: @active_managers, state: 'active', role: 'managers', page:'man_page'} %> </div>
	</div>
    <div id="test2" class="col s12"><%= render :partial => "inactive_employees", locals: {employees: @inactive_employees, state: 'inactive'} %></div>
      
</div>





<p>&nbsp;</p>

<% if current_user.role?(:admin)%>
	<%= render :partial => "partials/add_new_object", locals: {model_name: 'employee'} %>
<% end %>