<div class="card">
  <div class="card-content">
    <h5><%= state.capitalize %> Shifts</h5>

    <% if shifts.blank? %>
      <p>There are no <%= state.downcase %> shifts at this time.</p>
    <% else %>

      <table class="striped highlight">
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Store Name</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
                       
          </tr>
        </thead>
        <tbody>
          <% shifts.each do |shift| %>
            <tr>

            <% if shift.status != 'finished'%>

              <td><%=shift.employee.name%></td>

              <%if current_user.role?(:admin)%>
                <td><%= link_to shift.assignment.store.name, store_path(shift.assignment.store) %></td>
              <%else%>
                <td><%= shift.assignment.store.name%></td>
              <%end%>
              <td><%= shift.date.strftime("%-m/%-d/%y")%></td>
              <td><%=shift.start_time.strftime("%H:%M")%></td>
              <td><%=shift.end_time.strftime('%H:%M')%></td>
                

                <% if current_user.role?(:admin) || current_user.role?(:manager) %>
                  <td>
                      
                      <%= link_to(new_shift_path, class: 'btn-small green darken-1') do %>
                        &nbsp;Add&nbsp;

                  <% end %>
                  </td>
              <% end %>


               <% if current_user.role?(:admin) || current_user.role?(:manager) %>
                  <td>
                    <%= link_to(edit_shift_path(shift), class: 'btn-small cyan darken-4') do %>
                      &nbsp;Edit&nbsp;
                    <% end %>
                  </td>
              <% end %>


               <% if current_user.role?(:admin) || current_user.role?(:manager) %>
                  <td>
              <%= link_to(shift_path(shift), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }, class: 'btn-small red darken-4') do %>
                &nbsp;Delete&nbsp;

              <% end %>
              </td>

           <% end %>

                  <td>
                      
                      <%= link_to(shift_path(shift), class: 'btn-small black darken-1') do %>
                        &nbsp;View Shift &nbsp;

                  <% end %>
                  </td>




           

            <% if can_clock %>

            <% if shift.status == 'pending' %>

            
              <td>
                
                <%= link_to(clock_in_shift_path(shift), method: :patch, data: { confirm: 'Are you sure you wish to clock in this shift?' }, class: 'btn-small orange darken-1') do %>
                  &nbsp;Clock in&nbsp;
                <% end %>
             
              </td>
              

             <% end %> 


             <% if shift.status == 'started' %>
              <td>

                
                <%= link_to(clock_out_shift_path(shift), method: :patch, data: { confirm: 'Are you sure you wish to clock out this shift?' }, class: 'btn-small pink darken-1') do %>
                  &nbsp;Clock out &nbsp;
                <% end %>
             
              </td>
              <% end %>
            <% end %>

          

            <%end%>   
            </tr>

           

            
        <% end %>
        </tbody>
      </table>
      <p class="supertiny"></p>
      <br />
      
      <%= will_paginate shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
      <br />
   
    <% end %>
  </div>
</div>
